body{
background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#clock{
  color: #fff;
  font-size: 195px;
  background: linear-gradient(to left, #355c7d, #6c5b7b, #c06c84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0.5em 0em;
  width: 80%;
  margin: 0px auto;
  font-family: Helvetica,Arial;
  text-align: center;
}

#banner{
  color: #fefefe;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(to left, #355c7d, #6c5b7b, #c06c84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0.5em 0em;
  width: 80%;
  margin: 10% auto 0%;
  font-family: Helvetica;
  text-align: left;
  text-transform: uppercase;
}

span{
  margin-left: 175px;
}
